{% extends "layout.html.twig" %}

{% block content %}
    <div class="panel-body">
		{{ form_start(form,
			{ 
	            method: 'post',
	            action: path('blogadd'),
	        }
		) }}
		
		{{ form_widget(form) }}
		
		<button type="submit">Submit</button>
		
		{{ form_end(form) }}
	</div>
{% endblock %}
